html, body {
  background-color:black;
  margin:0;
  padding:0;
  position:
  relative;
  font-size:15px;
  font-family: 'futura-pt', sans-serif;
  color:#fff;
  height: 100%;
}

body,p,h1,h2,h3,h4,h5,h6,a{
  font-family: 'futura-pt', sans-serif;
  color:#fff;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

body {
  color:#fff;
  overflow-x:hidden;
}

.header{
  padding: 60px;
  text-align: center;
  color: white;
  background-color: #333;
}

.box{
  background: white;
  position: relative;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.about-title{
  padding-left: 10px;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  background-color: #001a33;
  color: #ffffff;
}

.project-title{
  padding-left: 10px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  background-color: #001a33;
  color: #ffffff;
}

.contact-title{
  padding-left: 10px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  background-color: #001a33;
  color: #ffffff;
}

#about p{
  padding-left: 10px;
  padding-right: 10px;
}

#projects p{
  padding-left: 10px;
  padding-right: 10px;
}

#home {
	position: absolute;
	top: 37%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.btn{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border: white 1px solid;
  margin-top: 40px;
}
